/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('../fonts/montserrat-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v14-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* kaushan-script-regular - latin */
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/kaushan-script-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Kaushan Script'), local('KaushanScript-Regular'),
       url('../fonts/kaushan-script-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/kaushan-script-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/kaushan-script-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/kaushan-script-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/kaushan-script-v8-latin-regular.svg#KaushanScript') format('svg'); /* Legacy iOS */
}
/* roboto-300italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/roboto-v20-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
       url('../fonts/roboto-v20-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-300italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}



.visually-hidden:not(:focus):not(:active),
input[type=“checkbox”].visually-hidden,
input[type=“radio”].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

img{
    display: block;
}
ul,
ol {
  list-style: none;
}

  
  a {
    text-decoration: none;
  }
  .header {
    background-size: cover;
    background-repeat: no-repeat; 
    text-align: center;
    background-position: center;
    color: #ffffff;
    background-image: -webkit-gradient(linear, 
    left top, right top, 
    from(rgba(252, 227, 136, .9)), 
    color-stop(90%, rgba(243, 129, 129, .9))),  url(../img/bg_image/bg_image.jpg);
    background-image: -o-linear-gradient(left, 
    rgba(252, 227, 136, .9) 0%, 
    rgba(243, 129, 129, .9) 90%),  url(../img/bg_image/bg_image.jpg);
    background-image: linear-gradient(90deg, 
    rgba(252, 227, 136, .9) 0%, 
    rgba(243, 129, 129, .9) 90%),  url(../img/bg_image/bg_image.jpg);
    padding-top: 30px;
    padding-bottom: 230px;
  }
  @media  (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
    .header {
        background-image: -webkit-gradient(linear, 
        left top, right top, 
        from(rgba(252, 227, 136, .9)), 
        color-stop(90%, rgba(243, 129, 129, .9))),  url(../img/bg_image/bg_image@2x.jpg);
        background-image: -o-linear-gradient(left, 
        rgba(252, 227, 136, .9) 0%, 
        rgba(243, 129, 129, .9) 90%),  url(../img/bg_image/bg_image@2x.jpg);
        background-image: linear-gradient(90deg, 
        rgba(252, 227, 136, .9) 0%, 
        rgba(243, 129, 129, .9) 90%),  url(../img/bg_image/bg_image@2x.jpg);
      }
 }





.navigation{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 168px;   
}
.logo{
    font-family:"Montserrat", sans-serif ;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    font-weight: 700;
    font-size:30px;
}
.list-wraper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 630px; 
}
.navigation__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 490px;
    text-transform: uppercase;
}
.navigation__list-link{
    font-family:"Montserrat", sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;    
}
.navigation__list-link::after {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background-color: rgb(252, 227, 138);
    margin: 0 auto;
    margin-top:12px;
    visibility: hidden;
    position: absolute;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .navigation__list-link:hover{
    color: rgb(252, 227, 138);
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    }
 
    .navigation__list-link:hover::after {
        -webkit-transition-duration: 200ms;
             -o-transition-duration: 200ms;
                transition-duration: 200ms;
        visibility: visible;
      }
      
.navigation__shop{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90px;
}

.navigation__shop-bolt{
  /* display: flex; */
}

.navigation__shop-link {
  width: 18px;
  height: 14px;
  fill: #ffffff;
}

.navigation__shop-link:hover {
  fill: #fce38a;
  -webkit-transition-duration: 200ms;
       -o-transition-duration: 200ms;
          transition-duration: 200ms;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}






.maus__text{
  font-size: 72px;
  font-family: "Kaushan Script", sans-serif;
  width: 66,66666666666667%;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 1.2;
  margin-bottom: 45px;
}

.maus__title{
  font-size: 150px;
  font-family:"Montserrat", sans-serif);
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  width: 840px;
  line-height: 1.2;
  margin: 0 auto;
  margin-bottom: 124px;
}

.maus__link{
  display: block;
  width: 170px;
  font-size: 14px;
  font-family:"Montserrat", sans-serif);
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.2;
  margin: 0 auto;
  text-align: center;
  border: 3px solid rgb(255, 255, 255);
  padding: 12px 30px;
}

      /* Main */
.service{
    padding-top:48px;
}
.we-work{
    text-align: center;
   
}


   .we-work__zag{
    font-family: "Kaushan Script", sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 32px;
    color: rgb(51, 51, 51);
   }
   .we-work__title{
        display: block;
        font-family: Montserrat;
        font-weight: 700;
        font-size: 30px;
        color: rgb(51, 51, 51);
        text-transform: uppercase;
        
     }
     .we-work__title::after{
        display: block;     
        content: "";
        width: 60px;
        height: 3px;
        margin: 0 auto;
        margin-top: 34px;
        margin-bottom: 66px;
        background-color: rgb(243, 129, 129);
      }
     
     
     
     
      .service-title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
      }
      
      .service-title__list {
        width: 334px;
       padding-left: 60px;
       position: relative;
      }
      .service-title__list::before{
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        content: '';
        width: 31px;
        height: 32px;
        background-repeat: no-repeat;
    }

      .sservice-title__list-item{
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        color: rgb(51, 51, 51);
        font-size: 14px;
        margin-bottom: 18px;
    }
   
    .service-title__list-description{
        font-family:"Roboto", sans-serif;
        font-weight: 400;
        font-size: 15px;
        width: 276px;
        margin-top: 13px;
        color: rgb(153, 153, 153);
        margin-bottom: 54px;
        line-height: 24px;
    }
    .service-title__list--alarm::before{
      background-image: url(../img/icons_svg/ALARM.svg);
  }
  
  .service-title__list--line::before{
     background-image: url(../img/icons_svg/LINE.svg);
  }
  
  .service-title__list--computer::before{
     background-image: url(../img/icons_svg/COMPUTER\ .svg);
  }
  
  .service-title__list--book::before{
     background-image: url(../img/icons_svg/BOOK.svg);
  }
  
  .service-title__list--home::before{
     background-image: url(../img/icons_svg/HOME.svg);
  }
  
  .service-title__list--image::before{
     background-image: url(../img/icons_svg/IMAGE.svg);
  }

  /* 2 section */


  .service-two{
    margin-top: 93px;
}
 
.we-work__description{
    font-family:"Roboto", sans-serif;
    font-weight: 400;
    margin-top: 13px;
    font-size: 15px;
    color: rgb(153, 153, 153);
    width: 940px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 90px;
    line-height: 24px;
}

/* Card */

.wtool-wrapper__list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.tool-wrapper__list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
 
}

.tool-wrapper__list-item{
  width: 380px;
}

.tool-wrapper__list-foto{
  margin-bottom: 28px;
  position: relative;
}

.overlay{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(rgba(252, 227, 136, .9)), color-stop(90%, rgba(243, 129, 129, .9)));
  background: -o-linear-gradient(left, rgba(252, 227, 136, .9) 0%, rgba(243, 129, 129, .9) 90%);
  background: linear-gradient(90deg, rgba(252, 227, 136, .9) 0%, rgba(243, 129, 129, .9) 90%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;  
  -webkit-box-shadow: 10px 10px #95e1d3;  
          box-shadow: 10px 10px #95e1d3;
}

.social-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
 
}

.social-list__link{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: center;
  margin-right: 1px;
  height: 56px;
  width: 56px;
  background-repeat: no-repeat;
  background-color: rgb(252, 227, 138);
  -webkit-transition-duration: 200ms;
       -o-transition-duration: 200ms;
          transition-duration: 200ms;
  cursor: pointer;
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}
.tool-wrapper__list-item:hover .cards-wrapper__lists-photos{
  -webkit-transform: translate(-10px, -10px);
      -ms-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
}

.social-list__link:hover{
  background-color:  #f38181;
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
 


}
.social-list__icons{
  fill: rgb(243, 129, 129);
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
  width: 25px;
  height: 25px;
}
.social-list__item:hover .social-list__icons{
  fill: rgb(255, 255, 255);
}


.tool-wrapper__list-item:hover .overlay{
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-10px, -10px);
      -ms-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
} 

.tool-wrapper__list-item:hover .photoman {
  -webkit-transform: translate(-10px, -10px);
      -ms-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
}


.tool-wrapper__list-foto-name{
  font-family:"Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  margin-bottom: 14px;
  color: rgb(51, 51, 51);
}

.tool-wrapper__list-foto-link{
  font-family:"Roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 80px;
  color: rgb(153, 153, 153);
  text-align: center;
}



.footer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #e5e5e5;
  padding: 10px 0;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-text{
  font-family:"Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgb(51, 51, 51);

}

.footer-input{
  padding-left: 12px;
  font-family:"Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  width: 230px;
  height: 40px;
  color: #000000;
  border: 1px solid #e7e7e7;;
  border-right: none;
}

.footer-input::-webkit-input-placeholder{
  color: #cccccc;
}

.footer-input::-moz-placeholder{
  color: #cccccc;
}

.footer-input:-ms-input-placeholder{
  color: #cccccc;
}

.footer-input::-ms-input-placeholder{
  color: #cccccc;
}

.footer-input::placeholder{
  color: #cccccc;
}

.footer-form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-text__snow{
  color: red;

}

.bottom{
  font-family:"Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  height: 40px;
  width: 150px;
  color: rgb(255, 255, 255);
  border: none;
  background-color: rgb(149, 225, 211);
}














      